{% extends 'lead-maker/accounts/base.html' %}
{% block content %}
{% load static %}
{% include "lead-maker/includes/header.html" %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.min.css">
<div class="content contain">
  <section class="login-sec voice-subtitle create-lead-sec">
      <ul class="status-bar">
        <li class="active loading loaded">
          <a href="#!">Upload & Customise</a>
        </li>
        <li class="active loading loaded" >
          <a href="#!">Video Trimming</a>
        </li>
        <li class="active">
          <a href="#!">Lead Creation</a>
        </li>
        <li class="">
          <a href="#!">Background Music Selection</a>
        </li>
        <li class="">
          <a href="#!">Download</a>
        </li>
      </ul>
    <div class="lead-container lead-details">
      <div class="lead-header">
        <a href="/text/trim-video/{{text_file.id}}" class="lead-back">
          <img src="{% static 'lead-maker/images/left-arrow.svg' %}" alt="back" class="img-fluid" />
        </a>
        <h5 class="text-center lead-title">Create Your New Lead</h5>
      </div>

      <form class="lead-form" method="POST" action="."  enctype="multipart/form-data">
        {% csrf_token %}
        <div class="d-flex justify-content-start">
          <a href="#!" id="createLeadBtn" class="btn proceed-btn" onclick="addSlide()">
            Add New Subtitle +
          </a>
        </div>
        <table id="leadsTable" class="lead-table">
          <thead>
            <tr>
              <th class="slide-first">Subtitle</th>
              <th>Subtitle Text</th>
              <th class="slide-last">Action</th>
            </tr>
          </thead>
          <tbody>
            {% if clips %}
            {% for clip in clips %}
            <tr>
              <td>Subtitle {{ forloop.counter }}</td>
                <td>
                 <textarea style="display: none;"  name="saved_slide_text_{{forloop.counter}}" class="form-control tab-textarea" aria-describedby="textarea"    >{{clip.text}}</textarea></td>
                 <div class="wrapper" id="wrapper_{{forloop.counter}}">
                  <div style="width: 100%;" class="tag-box">
                      <ul style="margin: 0;" id="list-of-tags_{{forloop.counter}}" class="list-of-tags">

                          {% for subclip in clip.subclips.all %}
                          <li data-id="{{subclip.id}}"
                          data-clipid="{{subclip.video_clip.id}}"
                          data-cat_id="{{subclip.video_clip.category.id}}"
                          data-name="{{subclip.video_clip.title}}"
                          data-current_file="{{subclip.get_video_file_name}}"
                          id="saved_li_{{subclip.id}}"
                              onclick="editCurrentLi(this)">
                              {{subclip.subtittle}}</li>
                          {% endfor %}
                          <input type="number" hidden id="clip_id_{{subclip.id}}" value="{{subclip.video_clip.id}}">
                          <span id="slide_span_{{clip.id}}" data-num="{{clip.get_number_of_subclip}}"
                              data-id="{{clip.id}}">{{ clip.remaining }}</span>
                      </ul>
                      <input id="remaining_{{clip.id}}" name="remaining_{{forloop.counter}}" hidden type="text">
                  </div>
                  <div id="error-message_{{forloop.counter}}" style="text-transform: capitalize;" class="error-message"></div>
              </div>
                </td> 
                     
                
              <td>
                <a href="#!" class="delete-row-btn" onclick="deleteSavedSlide('{{clip.id}}')">
                  <img src="{% static 'lead-maker/images/delete-icn.svg' %}" alt="delete" />
                </a>
              </td>
            </tr>

            {% endfor %}
        <input  type="number"  name="no_of_slides" id="no_of_slides" hidden value="{{no_of_slides}}">
            {% else %}
        <input  type="number"  name="no_of_slides" id="no_of_slides" hidden value="0">
        {% endif %}
          </tbody>
        </table>

        <div class="create-video d-flex justify-content-end">
          <button type="submit"   class="btn proceed-btn">
            Proceed To Background Music Selection
            <img class="btn-arrow" src="{% static 'lead-maker/images/btn-arrow.svg' %}" alt="arrow" />
          </button>
        </div>
      </form>
    </div>
  </section>
  
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<!-- <script src="{% static 'lead-maker/js/createLead.js' %}" defer></script> -->
<script>
function savedInputChangeFunc(id) {
    const inputFile=document.getElementById(`saved_slide_file_${id}`)
    const fileName = inputFile.files.length > 0 ? inputFile.files[0].name.slice(20) : 'Choose file';
    const element = document.getElementById(`current_${id}`);
    if (element) {
        element.style.display = 'none';
        document.getElementById(`saved_span_${id}`).textContent = fileName;
    } else {
        console.error(`Element with ID current_${id} not found.`);
    }
}
document.addEventListener('DOMContentLoaded',()=>{
  if (document.getElementById('no_of_slides').value == 0){
    addSlide()
  }
})
let currentNumber = document.getElementById('no_of_slides').value
function deleteSavedSlide(clipId) {
        $.ajax({
            url: '/text/delete-clip/' + clipId + '/', 
            type: 'DELETE', 
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
            success: function(response) {
                location.reload();  
            },
            error: function(xhr, status, error) {
                alert("Error deleting music: " + error);
            }
        });
    }
    
function deleteSlide(btn) {
    var row = btn.parentNode.parentNode;
    row.parentNode.removeChild(row);
}

  function addSlide() {
    let currentNumber = document.getElementById('no_of_slides').value

    var table = document.getElementById('leadsTable').getElementsByTagName('tbody')[0];
    var newRow = table.insertRow(-1);
    var slideCell = newRow.insertCell(0);
    currentNumber++
    
    document.getElementById('no_of_slides').value=currentNumber
    slideCell.innerText = `Subtitle ${currentNumber}`;
    newRow.innerHTML += 
        `<td>
          <textarea style="font-size: 19px;"id="slide_text_${currentNumber}" type="text" name="slide_text_${currentNumber}" value="" placeholder="Type Your Sentence Here" class="form-control tab-textarea" aria-describedby="textarea"></textarea>
          <div class="wrapper" id="wrapper_${currentNumber}">
          
            <div  style="width: 100%; display:none;" class="tag-box">
                <ul style="margin: 0;" id="list-of-tags_${currentNumber}" class="list-of-tags">
                    <span id="slide_span_${currentNumber}"></span>
                </ul>
                <input id="remaining_${currentNumber}" name="remaining_${currentNumber}" hidden type="text">
            </div>
          </div>
        </td>
         <td>
                <a href="#!" class="delete-row-btn" onclick="deleteSlide(this)">
                  <img src="{% static 'lead-maker/images/delete-icn.svg' %}" alt="delete" />
                </a>
                <a href="#!" style="display:none" class="delete-row-btn" onclick="deleteSlide(this)">
                  <img src="{% static 'lead-maker/images/edit-button-svgrepo-com.svg' %}" alt="edit" />
                </a>
         </td>`;
 
    
         const noFileTexts = document.querySelectorAll('.btn.get-start.browse-btn');
         handleEnterToHide(currentNumber)
    
}
</script>

<script>
  function handleEnterToHide(currentNumber) {
    const textarea = document.getElementById(`slide_text_${currentNumber}`);
    const wrapper=document.getElementById(`wrapper_${currentNumber}`);
    const slide_span=document.getElementById(`slide_span_${currentNumber}`);

    textarea.addEventListener('keydown', function (event) {
      if (event.key === 'Enter') {
        event.preventDefault();

        textarea.style.display = 'none';
        wrapper.style.display='flex'
        slide_span.textContent=textarea.textContent
        
      }
    });
  }

</script>

{% endblock content %}
