{% extends 'lead-maker/accounts/base.html' %}
{% block content %}
{% load static %}
{% include "lead-maker/includes/header.html" %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.min.css">
<div class="content contain">
  <section class="login-sec voice-subtitle create-lead-sec">
      <ul class="status-bar">
        <li class="active loading loaded">
          <a href="#!">Upload & Customise</a>
        </li>
        <li class="active">
          <a href="#!">Lead Creation</a>
        </li>
        <li class="">
          <a href="#!">Background Music Selection</a>
        </li>
        <li class="">
          <a href="#!">Download</a>
        </li>
      </ul>
    <div class="lead-container lead-details">
      <div class="lead-header">
        <a href="voice-subtitle.html" class="lead-back">
          <img src="{% static 'lead-maker/images/left-arrow.svg' %}" alt="back" class="img-fluid" />
        </a>
        <h5 class="text-center lead-title">Create Your New Lead</h5>
      </div>

      <form class="lead-form" method="POST" action="."  enctype="multipart/form-data">
        {% csrf_token %}
        <div class="d-flex justify-content-start">
          <a href="#!" id="createLeadBtn" class="btn proceed-btn" onclick="addSlide()">
            Add New Slide +
          </a>
        </div>
        <input  type="number"  name="no_of_slides" id="no_of_slides"  value="{{no_of_slides}}">
        <table id="leadsTable" class="lead-table">
          <thead>
            <tr>
              <th class="slide-first">Slide</th>
              <th>Slide Text</th>
              <th>Upload Scene</th>
              <th class="slide-last">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for clip in clips %}
            <tr>
              <td>Slide {{ forloop.counter }}</td>
                <td  >
                 <textarea  name="saved_slide_text_{{clip.id}}" class="form-control tab-textarea" aria-describedby="textarea"    >{{clip.text}}</textarea></td>
                </td> 
                           
                <td style="background: none;">
                  <div class="custum-browse custum-browse-v2 d-flex align-items-center">
                    <div class="brws">
                      <input class="br-input" type="file" name="saved_slide_file_{{clip.id}}" onchange="savedInputChangeFunc('{{clip.id}}')" id="saved_slide_file_{{clip.id}}" accept="image/*,video/*"  >
                         <a href="#!" class="btn get-start browse-btn">
                        <img src="{% static 'lead-maker/images/upload-icn-black.svg' %}" alt=""><span id="saved_span_{{clip.id}}"> Choose file</span>
                      </a>
                    </div>
                    <p id='current_{{clip.id}}'>Current: {{ clip.get_video_file_name}}</p>
                   
                  </div>
                </td>
                
              <td>
                <a href="#!" class="delete-row-btn" onclick="deleteSavedSlide('{{clip.id}}')">
                  <img src="{% static 'lead-maker/images/delete-icn.svg' %}" alt="delete" />
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        <div class="create-video d-flex justify-content-end">
          <button type="submit"   class="btn proceed-btn">
            Proceed To Background Music Selection
            <img class="btn-arrow" src="{% static 'lead-maker/images/btn-arrow.svg' %}" alt="arrow" />
          </button>
        </div>
      </form>
    </div>
  </section>
</div>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<script src="{% static 'lead-maker/js/createLead.js' %}" defer></script>
<script>
function savedInputChangeFunc(id) {
    const inputFile=document.getElementById(`saved_slide_file_${id}`)
    const fileName = inputFile.files.length > 0 ? inputFile.files[0].name : 'Choose file';
    const element = document.getElementById(`current_${id}`);
    if (element) {
        element.style.display = 'none';
        document.getElementById(`saved_span_${id}`).textContent = fileName;
    } else {
        console.error(`Element with ID current_${id} not found.`);
    }
}

let currentNumber = document.getElementById('no_of_slides').value
function deleteSavedSlide(clipId) {
        $.ajax({
            url: '/text/delete-clip/' + clipId + '/', 
            type: 'DELETE', 
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
            success: function(response) {
                location.reload();  
            },
            error: function(xhr, status, error) {
                alert("Error deleting music: " + error);
            }
        });
    }
  function addSlide() {
    let currentNumber = document.getElementById('no_of_slides').value

    var table = document.getElementById('leadsTable').getElementsByTagName('tbody')[0];
    var newRow = table.insertRow(-1);
    var slideCell = newRow.insertCell(0);
    currentNumber++
    
    document.getElementById('no_of_slides').value=currentNumber
    slideCell.innerText = `Slide ${currentNumber}`;
    newRow.innerHTML += 
        `<td>
          <textarea style="font-size: 19px;" type="text" name="slide_text_${currentNumber}" value="" placeholder="Type Your Sentence Here" class="form-control tab-textarea" aria-describedby="textarea"></textarea>
        </td>
        <td style="background: none;">
           <div class="custum-browse custum-browse-v2 d-flex align-items-center">
             <div class="brws">
               <input class="br-input" type="file" name="slide_file_${currentNumber}"accept="image/*,video/*"  >
                  <a href="#!" class="btn get-start browse-btn">
                 <img src="{% static 'lead-maker/images/upload-icn-black.svg' %}" alt=""> Choose file
               </a>
             </div>
            
           </div>
         </td>
         <td>
                <a href="#!" class="delete-row-btn" onclick="deleteSlide(this)">
                  <img src="{% static 'lead-maker/images/delete-icn.svg' %}" alt="delete" />
                </a>
         </td>`;
 
         const fileInputs = document.querySelectorAll('.br-input');
    
         const noFileTexts = document.querySelectorAll('.btn.get-start.browse-btn');
    
         console.log(fileInputs,noFileTexts);
    fileInputs.forEach((input, index) => {
      input.addEventListener('change', (event) => {
        const fileName = event.target.files.length > 0 ? event.target.files[0].name : 'Choose file';
        noFileTexts[index].lastChild.textContent = fileName; // Update the text to show the selected file name
      });
    });
}
</script>
{% endblock content %}
