{% extends 'lead-maker/accounts/base.html' %}
{% block content %}
{% load static %}
{% include "lead-maker/includes/header.html" %}
<link rel="stylesheet" href="{% static 'lead-maker/css/scene.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.min.css">
<div class="content contain">
  <section class="login-sec voice-subtitle create-lead-sec">
      <ul class="status-bar">
        <li class="active loading loaded">
          <a href="#!">Upload & Customise</a>
        </li>
        <li class="active loading loaded" >
          <a href="#!">Video Trimming</a>
        </li>
        <li class="active">
          <a href="#!">Lead Creation</a>
        </li>
        <li class="">
          <a href="#!">Background Music Selection</a>
        </li>
        <li class="">
          <a href="#!">Download</a>
        </li>
      </ul>
    <div class="lead-container lead-details">
      <div class="lead-header">
        <a href="/text/trim-video/{{text_file.id}}" class="lead-back">
          <img src="{% static 'lead-maker/images/left-arrow.svg' %}" alt="back" class="img-fluid" />
        </a>
        <h5 class="text-center lead-title">Create Your New Lead</h5>
      </div>

      <form class="lead-form" method="POST" action="."  enctype="multipart/form-data">
        {% csrf_token %}
        <div class="d-flex justify-content-start">
          <a href="#!" id="createLeadBtn" class="btn proceed-btn" onclick="addSlide()">
            Add New Subtitle +
          </a>
        </div>
        <table id="leadsTable" class="lead-table">
          <thead>
            <tr>
              <th class="slide-first">Subtitle</th>
              <th>Subtitle Text</th>
              <th class="slide-last">Action</th>
            </tr>
          </thead>
          <tbody>
            {% if clips %}
            {% for clip in clips %}
            <tr id="tr_{{clip.id}}">
              <td>Subtitle {{ forloop.counter }}</td>
                <td id="highlightable_{{forloop.counter}}">
                  <div>

                        <textarea style="display: none;"  name="slide_text" class="form-control tab-textarea" aria-describedby="textarea"  id="slide_text_{{forloop.counter}}"  >{{clip.slide}}</textarea>
                        <div class="wrapper" id="wrapper_{{forloop.counter}}">
                          <div  class="tag-box">
                              <ul style="margin: 0;" id="list-of-tags_{{forloop.counter}}" class="list-of-tags">
      
                                  {% for subclip in clip.subclips.all %}
                                  <li data-id="{{subclip.id}}"  
                                    data-current_file="{{subclip.get_video_file_name}}"
                                    id="saved_li_{{subclip.id}}"
                                        onclick="editCurrentLi(this)">
                                        {{subclip.subtittle}}
                                    </li>
                                  {% endfor %}
                                  <span id="slide_span_{{forloop.counter}}" data-num="{{clip.get_number_of_subclip}}"
                                      data-id="{{clip.id}}">{{ clip.remaining }}
                                    </span>
                              </ul>
                              <input id="remaining_{{forloop.counter}}" name="remaining_" hidden type="text">
                          </div>
                        <div id="error-message_{{forloop.counter}}" style="text-transform: capitalize;" class="error-message"></div>
                    </div>
                  </div>
                </td> 
                     
                
              <td id='action_{{forloop.counter}}'> 
                <a href="#!" class="delete-row-btn"id="delete_{{forloop.counter}}" onclick="deleteSavedSlide('{{clip.id}}', this)">
                  <img src="{% static 'lead-maker/images/delete-icn.svg' %}" alt="delete" />
                </a>
                <a href="#!"  
               class="delete-row-btn" 
               id="edit_{{forloop.counter}}" 
               onclick="EditeSlide('{{forloop.counter}}')">
              <img src="{% static 'lead-maker/images/edit-button-svgrepo-com.svg' %}" alt="edit" />
            </a>
            <a href="#!" 
               class="delete-row-btn" 
               id="reset_${currentNumber}" 
               onclick="subclipReset('{{clip.id}}')">
              <img src="{% static 'lead-maker/images/reset-svgrepo-com.svg' %}" alt="reset" />
            </a>
              </td>
            </tr>

            {% endfor %}
        <input  type="number"  name="no_of_slides" id="no_of_slides" hidden value="{{no_of_slides}}">
            {% else %}
        <input  type="number"  name="no_of_slides" id="no_of_slides" hidden value="0">
        {% endif %}
          </tbody>
        </table>

        <div class="create-video d-flex justify-content-end">
          <button type="submit"   class="btn proceed-btn">
            Proceed To Background Music Selection
            <img class="btn-arrow" src="{% static 'lead-maker/images/btn-arrow.svg' %}" alt="arrow" />
          </button>
        </div>
      </form>
    </div>
  </section>
  <div class="popup-form popup-modal" id="add-subclip-popup">
    <div class="popup-container">
        <div class="close-btnx close-btn" onclick="closeModal()">
            <button class="close-popup">
                X
            </button>
        </div>
        <div id="modal-cont">

        </div>
    </div>
</div>
<script>
    
</script>

</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<script>
  
function savedInputChangeFunc(id) {
    const inputFile=document.getElementById(`saved_slide_file_${id}`)
    const fileName = inputFile.files.length > 0 ? inputFile.files[0].name.slice(20) : 'Choose file';
    const element = document.getElementById(`current_${id}`);
    if (element) {
        element.style.display = 'none';
        document.getElementById(`saved_span_${id}`).textContent = fileName;
    } else {
        console.error(`Element with ID current_${id} not found.`);
    }
}
function showSuccessMessage(message) {
    const successMessage = document.createElement('div');
    successMessage.textContent = message;
    successMessage.style.position = 'fixed';
    successMessage.style.top = '20px';
    successMessage.style.right = '20px';
    successMessage.style.padding = '10px 15px';
    successMessage.style.backgroundColor = '#4CAF50';
    successMessage.style.color = 'white';
    successMessage.style.borderRadius = '5px';
    successMessage.style.boxShadow = '0 4px 8px rgba(0, 0, 0, 0.2)';
    successMessage.style.zIndex = '1000';
    
    clearErrorMessages();

    document.body.appendChild(successMessage);

    setTimeout(() => {
        document.body.removeChild(successMessage);
    }, 2000);
}

let currentNumber = document.getElementById('no_of_slides').value
function deleteSavedSlide(clipId,btn) {
  btn.style.cursor='wait'
    btn.disabled=true
        $.ajax({
            url: '/text/delete-clip/' + clipId + '/', 
            type: 'DELETE', 
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
            success: function(response) {
              document.getElementById(`tr_${clipId}`).style.display='none'
            },
            error: function(xhr, status, error) {
                alert("Error deleting music: " + error);
            }
        });
    }
    
function deleteSlide(btn) {
    var row = btn.parentNode.parentNode;
    row.parentNode.removeChild(row);
}

function addSlide() {
    let currentNumber = document.getElementById('no_of_slides').value;

    var table = document.getElementById('leadsTable').getElementsByTagName('tbody')[0];
    var newRow = table.insertRow(-1);
    var slideCell = newRow.insertCell(0);
    currentNumber++;

    document.getElementById('no_of_slides').value = currentNumber;
    slideCell.innerText = `Subtitle ${currentNumber}`;
    newRow.innerHTML += `
        <td id="highlightable_${currentNumber}">
          <div>
            <textarea 
                style="font-size: 19px;"
                id="slide_text_${currentNumber}" 
                type="text" 
                name="slide_text" 
                placeholder="Type Your Sentence Here" 
                class="form-control tab-textarea" 
                aria-describedby="textarea"
            ></textarea>
            <div class="wrapper" id="wrapper_${currentNumber}" style="display:none;">
              <div style="width: 100%;" class="tag-box">
                  <ul style="margin: 0;" id="list-of-tags_${currentNumber}" class="list-of-tags">
                      <span id="slide_span_${currentNumber}"></span>
                  </ul>
                  <input id="remaining_${currentNumber}" name="remaining_" hidden type="text">
              </div>
              <div id="error-message_${currentNumber}" style="text-transform: capitalize;" class="error-message"></div>

            </div>
          </div>
        </td>
        <td id="action_${currentNumber}">
            <a href="#!" class="delete-row-btn" id="delete_${currentNumber}" onclick="deleteSlide(this)">
              <img src="{% static 'lead-maker/images/delete-icn.svg' %}" alt="delete" />
            </a>
            <a href="#!" 
               style="display:none; " 
               class="delete-row-btn" 
               id="edit_${currentNumber}" 
               onclick="EditeSlide(${currentNumber})">
              <img src="{% static 'lead-maker/images/edit-button-svgrepo-com.svg' %}" alt="edit" />
            </a>
            

        </td>`;

        document.getElementById(`slide_text_${currentNumber}`).focus()
    setTimeout(() => {
        handleEnterToHide(currentNumber,);
        handleSelection(currentNumber);
    }, 0); 
}
    
</script>
<!-- lines -->
<script>

  let edit=false

  
function subclipReset(mainId) {
        
            const textfileID = "{{textfile.id}}"
            const url = `/text/reset_subclip/${mainId}/`;

            if (confirm("Are You Sure You Want To Reset This Sentence?")) {
                fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
                    },
                    body: JSON.stringify({ textfile_id: textfileID })
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            location.reload();
                        } else {
                            alert("Failed to reset the clip. Please try again.");
                        }
                    })
                    .catch(error => {
                        console.error("Error resetting clip:", error);
                        alert("An error occurred. Please try again later.");
                    });
            }
        }

function handleEnterToHide(currentNumber) {
    const textarea = document.getElementById(`slide_text_${currentNumber}`);
    const wrapper = document.getElementById(`wrapper_${currentNumber}`);
    const slide_span = document.getElementById(`slide_span_${currentNumber}`);
    const edit_ = document.getElementById(`edit_${currentNumber}`);
    const delete_ = document.getElementById(`delete_${currentNumber}`);
    let clip_id=slide_span.dataset.id
    textarea.addEventListener('keydown', function (event) {
        if (event.key === 'Enter') {
            event.preventDefault();

            if (textarea.value) {
                textarea.style.display = 'none';
                wrapper.style.display = 'flex';
                edit_.style.display = 'flex';
                slide_span.textContent = textarea.value;

                const payload = JSON.stringify({
                    text: textarea.value, // Send the textarea value
                });

                const xhr = new XMLHttpRequest();

                xhr.addEventListener('load', function () {
                    if (xhr.status === 200) {
                        const response = JSON.parse(xhr.responseText);

                        if (response.success) {
                            slide_span.textContent = textarea.value;
                            slide_span.dataset.id=response.id
                            clip_id=response.id
                            showSuccessMessage(`Subtitle submitted successfully! ${slide_span.dataset.id}`);

                        } else {
                            alert(response.error || 'Failed to submit the text.');
                        }
                    } else {
                        alert('An error occurred while submitting the text.');
                    }
                });

                xhr.addEventListener('error', function () {
                    alert('An error occurred during the request.');
                });
                if (clip_id){
                  
                  xhr.open('POST', `/text/edit_text_clip_line/${clip_id}/`);
                }else{
                  
                  xhr.open('POST', `/text/add_text_clip_line/{{text_file.id}}/`);
                }
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
                xhr.send(payload);
            }
        }
    });
}

  function EditeSlide(currentNumber) {
    const textarea = document.getElementById(`slide_text_${currentNumber}`);
    const wrapper=document.getElementById(`wrapper_${currentNumber}`);
    const slide_span=document.getElementById(`slide_span_${currentNumber}`);
    const edit_=document.getElementById(`edit_${currentNumber}`);
    const delete_=document.getElementById(`edit_${currentNumber}`);
    textarea.style.display = 'flex';
        wrapper.style.display='flex'
        // delete_.style.display = 'none';
        edit_.style.display='none'
        wrapper.style.display='none'

        
      };
  
document.addEventListener('DOMContentLoaded',()=>{
  if (document.getElementById('no_of_slides').value == 0){
    addSlide()
  }else{
    for (let index = 1; index <= document.getElementById('no_of_slides').value; index++) {
      handleEnterToHide(index);  
      handleSelection(index); 
    }
  }
})
function clearErrorMessages(){
        const errorElements = document.querySelectorAll('[id^="error"]');
        errorElements.forEach(element => {
            element.textContent = "";
        });
      }
</script>
<!-- subclip  -->
<script>
    
    function closeModal() {
      clearErrorMessages();
        document.getElementById('add-subclip-popup').style.display = 'none';
        
        const formClipID = document.getElementById('clipId').value;
        const ulElement = document.getElementById(`list-of-tags_${formClipID}`);
        const spanElement = document.getElementById(`slide_span_${formClipID}`);
        const liItem=document.getElementById(`saved_li_${formClipID}`);
        if (ulElement && ulElement.children.length > 1) {
            const secondToLastLi = ulElement.children[ulElement.children.length - 2];
            const secondToLastLiText = secondToLastLi.textContent;

            const spanText = spanElement.textContent.trim();
            spanElement.textContent = `${secondToLastLiText} ${spanText}`
            console.log("Last <li> text:", secondToLastLiText);

            ulElement.removeChild(secondToLastLi);
        } else if(liItem){
            liItem.disabled=false
            liItem.style.cursor='pointer'

        }else {
            console.log("No <li> items found to remove.");
        }
    }

function handleSelection(cNumber) {
              const wrapper = document.querySelector(`#wrapper_${cNumber}`);
                const span = wrapper.querySelector("span");
                const ul = wrapper.querySelector(`#list-of-tags_${cNumber}`);
                const remainingInput = wrapper.querySelector(`#remaining_${cNumber}`);
                const errorMessage = wrapper.querySelector(`#error-message_${cNumber}`);
                clipId=span.dataset.id
                console.log('clipid: ',clipId)
        submitCheck=true
        document.getElementById(`highlightable_${cNumber}`).addEventListener("mouseup", function () {
            const selection = window.getSelection();
            if (selection && selection.toString().trim() ) {
                const selectedText = selection.toString().trim();
                const fullText = span.innerText.trim();
                const words = fullText.split(/\s+/);
                const selectedWords = selectedText.split(/\s+/);

                const startsCorrectly = fullText.startsWith(selectedText);
                const isWordAligned = selectedWords.every(word => words.includes(word));

                if (startsCorrectly && isWordAligned) {
                    errorMessage.innerText = "";

                    clip_id = cNumber
                    const li = document.createElement("li");
                    li.innerText = selectedText;
                    li.dataset.id = cNumber;
                    li.disabled=true
                    li.onclick = function () {
                            editCurrentLi(li);
                        };
                        num = span.dataset.num
                        li.id=`current_li_${cNumber}`

                    ul.insertBefore(li, span);

                    const remainingText = fullText.slice(selectedText.length).trim();
                    remainingInput.value = remainingText;
                    span.innerText = remainingText;
                    openPopup(cNumber, selectedText, remainingText,clipId);
                    li.style.cursor='wait'

                    


                } else {
                    // errorMessage.innerText = "Invalid highlighting. Highlight full words starting from the beginning.";
                    errorMessage.innerText = "Highlighting Must Start From The First Unassigned Word Of The Sentence.";
                }
            }

            selection.removeAllRanges();
        });
    }
    
    function openPopup(cNumber, selectedText, remainingText,clipId) {
    const modalContainer = document.getElementById('modal-cont');
    const popup = document.getElementById('add-subclip-popup');
    clearErrorMessages();
    if (modalContainer && popup) {
        modalContainer.innerHTML=`
        
<form   class="popup-content" method="POST" enctype="multipart/form-data"
 id="add-subclip-form"
 
    style="grid-template-columns:  1fr;width:100%;">
    <br>
    {% csrf_token %}

    <div id="submit-cont">
        <div class="form-group">
            <input id="slide_text" hidden  name="slide_text" value="${selectedText}" readonly required class="form-input">
        </div>
        
        <input id="clipId" type="number" hidden name="clipId" value="${cNumber}">
        

        <input type="text" value="${remainingText}" hidden id="remaining" name="remaining">
        <div style="display: grid;grid-template-columns: 1fr;border-radius: 8px;border: 1px solid #00000080;overflow: hidden;"  class="form-grid-cont">
        <div class="grid-item title  form-grid-item begin column-1"><span style="height:50px;align-items: center;">Upload Scene</span></div>
        <div class="form-grid-item main-item">
            <div  class="form-group" style="height:100%;">
                <div class="upload-container">
                <label for="slide_file" class="upload-label">
                    <i class="ri-upload-line"></i>
                    <span id="upload-text">Choose File</span>
                    </label>
                    <i id="clear-file" style="display:none" onclick="clearFileInput()" class="ri-close-circle-line"></i>
                <input type="file" onchange="saveInput(this)" id="slide_file" name="slide_file" class="upload-input" accept="video/*">

            </div>
            
            <p id="currentFile"></p>
        
        </div>
        </div>
         <p style="color:red; font-size:13px;" id="error-slide"></p>
        </div>
        </div>
    </div>
    </div>
    <div style="align-items: end;" class="form-group">
        <button type="submit" id="submit-clip" class="submit-btn">Submit</button>
    </div>
</form>
        `;
        const errorElements = document.querySelectorAll('[id^="error"]');

        errorElements.forEach(element => {
            element.textContent = "";
        });
        };
        
        popup.style.display = 'flex';
        document.getElementById(`add-subclip-form-${cNumber}`).addEventListener('submit', (e) => {
            e.preventDefault();
            attachValidation(`add-subclip-form`, cNumber,clipId);
        })
    }

</script>

<!-- popup manipulation and submission -->
 <script>
  function attachValidation(formId, cNumber,clipId) {
    const li = document.getElementById(`current_li_${cNumber}`);
    if (li) {
        li.disabled = true;
        li.style.cursor = 'wait';
        console.log(li, ' has been disabled');
    }

    const form = document.getElementById(formId);

    if (form) {
        const fileInput = document.getElementById('slide_file');

        if (!fileInput.value || fileInput.value.trim() === ""){
                document.getElementById('upload-text').style.color='red'
            }

        } else {
            document.getElementById('upload-text').style.color='inherit'

            
            const popup = document.getElementById('add-subclip-popup');
            if (popup) {popup.style.display = 'none';}
            const formData = new FormData(form);
            const xhr = new XMLHttpRequest();

            xhr.addEventListener('load', function () {
                if (xhr.status === 200) {
                    const response = JSON.parse(xhr.responseText);

                    if (response.success) {
                        const newId = response.id;


                        // Update the li element
                        if (li) {
                            li.id = `saved_li_${newId}`;
                            li.dataset.id = newId;
                
                            li.dataset.current_file=response.current_file
                            li.disabled = false;
                            li.style.cursor = 'pointer';
                        }
                        
            
                        showSuccessMessage('Clip Added Successfully!');
                    } else {
                        alert(response.error || 'Failed to add clip.');
                    }
                } else {
                    alert('An error occurred while saving the clip.');
                }

                if (li) {
                    li.disabled = false;
                    li.style.cursor = 'pointer';
                }
            });

            // Handle errors
            xhr.addEventListener('error', function () {
                alert('An error occurred during the request.');
                if (li) {
                    li.disabled = false;
                    li.style.cursor = 'pointer';
                }
            });

            // Open and send the request
            xhr.open('POST', `/text/add_subcliphtmx/${clipId}/`);
            xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
            xhr.send(formData);
        }
    }
  function saveInput(inputElement) {
            const uploadElement = document.getElementById('upload-text');

            if (inputElement.type === 'file') {

                if (inputElement.value) {
                document.getElementById('upload-text').style.color='black'

                    
                    const fileName = inputElement.files.length > 0 ? inputElement.files[0].name : "Choode File";
                    uploadElement.textContent=fileName.slice(0,13)
                    document.getElementById('currentFile').textContent = ''
                    document.getElementById('clear-file').style.display='flex'
                    
                  }else{
                  uploadElement.textContent= "Choode File"
                  // document.getElementById('currentFile').textContent = ''
                  document.getElementById('clear-file').style.display='none'

                }

            }
            
        };
    
 </script>
{% endblock content %}
