{% extends 'lead-maker/accounts/base.html' %} {% block content %} {% load static %} 

{% include "lead-maker/accounts/new_messages.html" %}
{% include "lead-maker/includes/header.html" %}

<div class="content contain">
  <section class="login-sec voice-subtitle">
    <div class="container">
      <ul class="status-bar">
        <li class="active loading loaded">
          <a href="#!">Upload & Customise</a>
        </li>
        <li class="active loading loaded">
          <a href="#!">Lead Creation</a>
        </li>
        <li class="active">
          <a href="#!">Background Music Selection</a>
        </li>
        <li class="">
          <a href="#!">Download</a>
        </li>
      </ul>
      <div class="lead-container">
        <div class="lead-header">
          <a href="/create-lead" class="lead-back">
            <img src="{% static 'lead-maker/images/left-arrow.svg' %}" alt="back" class="img-fluid" />
          </a>
          <h5 class="text-center lead-title"> Select Your Background Music </h5>
        </div>
            <div class="video-container">
              <video width="100%" height="100%" controls>
                <source src="{{textfile.generated_watermarked_video.url}}" type="video/mp4" /> Your browser does not support the video tag.
              </video>
            </div> 

        <form class="lead-form" method="POST" action="."  enctype="multipart/form-data">
          {% csrf_token %}
          {% if textfile.background_musics.all %}
          <div id="repeatable-block">
        
            <div class="browse-field">
              <div style="
                      justify-content: space-between;
                      width: 100%;
                      display: flex;
                    ">
        

                <label for="formFileLg" class="label-txt" id="musicLabel-1" style="padding-top: 10px">Upload MP3 1:</label>
              </div>
              <br />
              <div class="custum-browse custum-browse-v2 d-flex align-items-center">
                <div class="brws">
                  <input class="br-input"  name="mp3[]" id="mp3[]" type="file" accept=".mp3" />
                  <a href="#!" class="btn get-start browse-btn">
                    <img src="{% static 'lead-maker/images/upload-icn-black.svg' %}" alt="" /> Choose file </a>
                </div>
                <p></p>
              </div>
            </div>
            
            <br />
            <!-- Volume Slider -->
            <div class="browse-field">
              <div>
                <div class="fontSize-Container">
                  <label for="formFileLg"  class="label-txt" style="font-weight: bold">MP3 1 Volume:</label>
                  <div class="slider-value" min id="valueLabel">20%</div>
                  <input class="slider-value-input" id="valuescrollId" name="volume[]" id="volume[]" value="20" hidden />
                </div>
                <div class="slider-container">
                  <div class="slider-track">
                    <div class="slider-filled" id="slider-filled"></div>
                  </div>
                  <div class="slider-thumb" id="sliderThumb"></div>
                </div>
              </div>
            </div>
            <br />
            <div class="browse-field" style="margin-bottom: 5px">
              <label for="exampleInput" class="label-txt">What Second Should This MP3 Play? <small>in minutes</small>
              </label>
            </div>
            <div class="time-fld d-flex justify-content-between align-items-start">
              <div class="browse-field">
                <label for="starts[]"  class="label-txt">Start:</label>
                <input type="text" name="starts[]" placeholder="00:00" class="form-control" id="starts[]" aria-describedby="emailHelp" />
              </div>
              <div class="browse-field">
                <label for="ends[]" class="label-txt">End:</label>
                <input type="text"  name="ends[]" placeholder="00:00" class="form-control" name="ends[]" aria-describedby="emailHelp" />
              </div>
            </div>
          </div>
        {% else %}

        {% endif %}
          <div id="repeatable-blk"></div>
          <div class="d-flex justify-content-start" style="margin-top: 30px">
            <a href="#!" id="addMoreBtn" class="btn proceed-btn"> + Upload Another MP3 </a>
          </div>
          <div class="create-video d-flex justify-content-end">
            <button  type="submit"  class="btn proceed-btn"> Create New Video <img class="btn-arrow" src="{% static 'lead-maker/images/btn-arrow.svg' %}" alt="arrow" />
            </button>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>
<div class="content load" style="display: none">
  <section class="login-sec voice-subtitle">
    <div class="container">
      <ul class="status-bar">
        <li class="active loading loaded">
          <a href="#!">Upload & Customise</a>
        </li>
        <li class="active loading">
          <a href="#!">Lead Creation</a>
        </li>
        <li>
          <a href="#!">Background Music Selection</a>
        </li>
        <li>
          <a href="#!">Download</a>
        </li>
      </ul>
      <div class="lead-container loading-block">
        <h5 class="text-center lead-title"> Loading <span class="dots">.</span>
        </h5>
      </div>
    </div>
  </section>
</div>
<!-- <div class="blob"></div> -->
<!--Page Wrapper End-->
<script></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<script src="{% static 'lead-maker/js/music.js' %}" defer></script>undefined</body>undefined</html> 




{% endblock content %}