{% extends 'lead-maker/accounts/base.html' %} {% block content %} {% load static %} 

{% include "lead-maker/accounts/new_messages.html" %}
{% include "lead-maker/includes/header.html" %}

<div class="content contain">
  <section class="login-sec voice-subtitle">
    <div class="container">
      <ul class="status-bar">
        <li class="active loading loaded">
          <a href="#!">Upload & Customise</a>
        </li>
        <li class="active loading loaded">
          <a href="#!">Lead Creation</a>
        </li>
        <li class="active">
          <a href="#!">Background Music Selection</a>
        </li>
        <li class="">
          <a href="#!">Download</a>
        </li>
      </ul>
      <div class="lead-container">
        <div class="lead-header">
          <a href="/create-lead" class="lead-back">
            <img src="{% static 'lead-maker/images/left-arrow.svg' %}" alt="back" class="img-fluid" />
          </a>
          <h5 class="text-center lead-title"> Select Your Background Music </h5>
        </div>
            <div class="video-container">
              <video width="100%" height="400" controls>
                <source src="{{textfile.generated_watermarked_video.url}}" type="video/mp4" /> Your browser does not support the video tag.
              </video>
            </div> 

        <form class="lead-form" method="POST" action="."  enctype="multipart/form-data">
          {% csrf_token %}
          <div id="repeatable-block">
            {% if textfile.background_musics.all %}
            <input type="number" hidden name="no_of_mp3" id="no_of_mp3" value="{{n_musics}}">

        
            {% else %}
            <div class="browse-field">
              <div style="
                      justify-content: space-between;
                      width: 100%;
                      display: flex;
                    ">
        

                <label for="formFileLg" class="label-txt" id="musicLabel-1" style="padding-top: 10px">Upload MP3 1:</label>
              </div>
              <br />
              <div class="custum-browse custum-browse-v2 d-flex align-items-center">
                <div class="brws">
                  <input class="br-input"  name="mp3-1" id="mp3-{{textfile.id}}-1" type="file" accept=".mp3" />
                  <a href="#!" class="btn get-start browse-btn">
                    <img src="{% static 'lead-maker/images/upload-icn-black.svg' %}" alt="" /> Choose file </a>
                </div>
                <p></p>
              </div>
            </div>
            
            <br />
            <div class="browse-field">
              <div>
                <div class="fontSize-Container">
                  <label for="slide-1"  class="label-txt" style="font-weight: bold">MP3 1 Volume:</label>
                  <div class="slider-value" min id="valueLabel-1">20%</div>
                  <input class="slider-value-input" id="valuescrollId-1" name="volume-1" id="volume-{{textfile.id}}-1" value="20" hidden />
                  <!-- <input class="slider-value-input"  name="volume-1" id="volume-{{textfile.id}}-1" value="20" hidden /> -->
                </div>
                <div class="slider-container">
                  <div class="slider-track">
                    <div class="slider-filled" id="slider-filled-1"></div>
                  </div>
                  <div class="slider-thumb" id="sliderThumb-1"></div>
                </div>
              </div>
            </div>
            <br />
            <div class="browse-field" style="margin-bottom: 5px">
              <label for="exampleInput" class="label-txt">What Second Should This MP3 Play? <small>in minutes</small>
              </label>
            </div>
            <div class="time-fld d-flex justify-content-between align-items-start">
              <div class="browse-field">
                <label for="starts{{textfile.id}}-1"  class="label-txt">Start:</label>
                <input type="text" name="starts-1" placeholder="00:00" class="form-control" id="starts-{{textfile.id}}-1" aria-describedby="emailHelp" />
              </div>
              <div class="browse-field">
                <label for="ends-{{textfile.id}}-1" class="label-txt">End:</label>
                <input type="text"  name="ends-1" placeholder="00:00" class="form-control"id="ends-{{textfile.id}}-1"  aria-describedby="emailHelp" />
              </div>
            </div>

            <input type="number" hidden name="no_of_mp3" id="no_of_mp3" value="1">
            {% endif %}
          </div>
        
          <div id="repeatable-blk"></div>
          <div class="d-flex justify-content-start" style="margin-top: 30px">
            <a href="#!" id="addMoreBtn" class="btn proceed-btn"> + Upload Another MP3 </a>
          </div>
          <div class="create-video d-flex justify-content-end">
            <button  type="submit"  class="btn proceed-btn"> Create New Video <img class="btn-arrow" src="{% static 'lead-maker/images/btn-arrow.svg' %}" alt="arrow" />
            </button>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>
<div class="content load" style="display: none">
  <section class="login-sec voice-subtitle">
    <div class="container">
      <ul class="status-bar">
        <li class="active loading loaded">
          <a href="#!">Upload & Customise</a>
        </li>
        <li class="active loading">
          <a href="#!">Lead Creation</a>
        </li>
        <li>
          <a href="#!">Background Music Selection</a>
        </li>
        <li>
          <a href="#!">Download</a>
        </li>
      </ul>
      <div class="lead-container loading-block">
        <h5 class="text-center lead-title"> Loading <span class="dots">.</span>
        </h5>
      </div>
    </div>
  </section>
</div>

<script>
  const textFileId="{{textfile.id}}"
  const n_musics= document.getElementById('no_of_mp3')
</script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<!-- <script src="{% static 'lead-maker/js/music.js' %}" defer></script>undefined</body>undefined</html>  -->



<script>
  const evt1 = document.getElementById("addMoreBtn");
let currentNumber = n_musics.value;

evt1?.addEventListener("click", function (e) {
  e.preventDefault();
// let currentNumber = n_musics.value;

  currentNumber++
  n_musics.value=currentNumber
  const sectionContainer = document.getElementById("repeatable-block");
  const newSection = document.createElement("div");
  newSection.classList.add("section");

  // Create a new section for the MP3 upload
  const newSection1 = document.createElement("div");
  newSection1.classList.add("browse-field");
  
  // Use the counter to create unique IDs for the slider components
  const sliderId = `slider-${currentNumber}`;
  const sliderFilledId = `slider-filled-${currentNumber}`;
  const sliderThumbId = `sliderThumb-${currentNumber}`;
  const valueLabelId = `valueLabel-${currentNumber}`;
  const valuescrollId=`valuescrollId-${currentNumber}`

  newSection1.innerHTML = `
    <div class="col-md-12" style="justify-content: space-between; display: flex; margin-top: 40px;">
      <label for="formFileLg" class="label-txt" style="padding-top: 5px;">Upload MP3 ${currentNumber}:</label>
      <a href="#!" class="delete-music" style="padding: 10px 10px; border: 1px solid #3663ff; text-align: right;" id="blue-delete">Delete</a>
    </div>
    <br>
    <div class="custum-browse custum-browse-v2 d-flex align-items-center">
      <div class="brws">
        <input class="br-input" name="mp3-${currentNumber}" id="mp3-${textFileId}-${currentNumber}" type="file" accept=".mp3" />
        <a href="#!" class="btn get-start browse-btn">
          <img src="{% static 'lead-maker/images/upload-icn-black.svg' %}" alt="" /> Choose file
        </a>
      </div>
      <p></p>
    </div>`;

  const newSection2 = document.createElement("div");
  newSection2.classList.add("browse-field");
  newSection2.innerHTML = `
    
    <div class="browse-field">
      <div>
        <div class="fontSize-Container">
          <label for="${sliderId}" class="label-txt" style="font-weight: bold;"
                        >MP3 ${currentNumber}: Volume:</label
                      >
          <div class="slider-value" min id="${valueLabelId}">20%</div>
          <input class="slider-value-input" id="${valuescrollId}" name="volume-${currentNumber}" id="volume-${textFileId}-${currentNumber}" value="20" hidden />
        </div>
        <div class="slider-container">
          <div class="slider-track">
            <div class="slider-filled" id="${sliderFilledId}"></div>
          </div>
          <div class="slider-thumb" id="${sliderThumbId}"></div>
        </div>
      </div>
    </div><br><label for="exampleInput" class="label-txt"  style="margin-bottom: 2px;">What Second Should This MP3 Play? <small>in minutes</small></label><!-- Volume Slider -->
    `;

  // Create a new section for start and end time input
  const newSection3 = document.createElement("div");
  newSection3.classList.add("time-fld");
  newSection3.innerHTML = `
    <div class="browse-field">
      <label for="starts[]" class="label-txt">Start:</label>
      <input type="text" placeholder="00:00"  name="starts-${currentNumber}" class="form-control" id="starts-${textFileId}-${currentNumber}" aria-describedby="emailHelp" />
    </div>
    <div class="browse-field">
      <label for="ends" class="label-txt">End:</label>
      <input type="text" placeholder="00:00"  name="ends-${currentNumber}" class="form-control" id="ends-${textFileId}-${currentNumber}" aria-describedby="emailHelp" />
    </div>`;

  // Append the heading and inputs to the new section
  newSection.appendChild(newSection1);
  newSection.appendChild(newSection2);
  newSection.appendChild(newSection3);
  sectionContainer.appendChild(newSection);

  // Add event listener to the delete button
  const deleteButton = newSection1.querySelector(".delete-music");
  deleteButton.addEventListener("click", function () {
    sectionContainer.removeChild(newSection); // Remove the specific section
    currentNumber--; // Decrease the counter
    updateMP3Numbers(); // Update remaining sections' numbers
  });
  const fileInputs = document.querySelectorAll('.br-input');
  const noFileTexts = document.querySelectorAll('.btn.get-start.browse-btn');
  console.log(fileInputs,noFileTexts);
  fileInputs.forEach((input, index) => {
    input.addEventListener('change', (event) => {
      const fileName = event.target.files.length > 0 ? event.target.files[0].name.slice(0,12) : 'Choose file';
      noFileTexts[index].lastChild.textContent = fileName; // Update the text to show the selected file name
    });
  });
  
  // Initialize slider for the new MP3
  initSlider(sliderId, sliderFilledId, sliderThumbId, valueLabelId,valuescrollId);
  
  // currentNumber++;


  // Remove previous event listeners
  const inputs = document.querySelectorAll('input[name="starts[]"], input[name="ends[]"]');
  inputs.forEach(input => {
      const newInput = input.cloneNode(true); // Clone the input to remove previous listeners
      input.parentNode.replaceChild(newInput, input); // Replace the old input with the cloned one
  });
  
  // Reapply the event listener to the new inputs
  const newInputs = document.querySelectorAll('input[name="starts[]"], input[name="ends[]"]');
  newInputs.forEach(input => {
      input.addEventListener('input', formatTimeInput);
  });
});
</script>
{% endblock content %}